html {
    background-color: lightgray;
    word-break: break-all;
    font-family: Serif;
}


h1 {
    text-align: center;
    color: rgb(20%,120%,20%);
    border: 1px solid #2f4f4f;
    font-weight: bold;
    background-color: grey;
    padding: 20px;
    line-height: 40px;
    margin-top: 0px;
    background-image: linear-gradient(to left top, #808080, #707277, #5b666d, #445a60, #2f4f4f);
    animation-name: font;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: auto;
}


@keyframes font{
  0%   {color: rgb(20%,110%,20%)}
  5%  {color: rgb(20%,105%,20%)}
  10%  {color: rgb(20%,100%,20%)}
  15%  {color: rgb(20%,95%,20%)}
  20% {color: rgb(20%,90%,20%)}
  25%  {color: rgb(20%,85%,20%)}
  30%  {color: rgb(20%,80%,20%)}
  35%  {color: rgb(20%,75%,20%)}
  40% {color: rgb(20%,70%,20%)}
  45%  {color: rgb(20%,65%,20%)}
  50%   {color: rgb(20%,60%,20%)}
  55%  {color: rgb(20%,65%,20%)}
  60%  {color: rgb(20%,70%,20%)}
  65%  {color: rgb(20%,75%,20%)}
  70% {color: rgb(20%,80%,20%)}
  75%  {color: rgb(20%,85%,20%)}
  80%  {color: rgb(20%,90%,20%)}
  85%  {color: rgb(20%,95%,20%)}
  90% {color: rgb(20%,100%,20%)}
  95%  {color: rgb(20%,105%,20%)}
  100%  {color: rgb(20%,110%,20%)}
}


h2 {
    border: 1px solid #2f4f4f;
    font-weight: bold;
    text-align: center;
    color: yellowgreen;
    background-color: grey;
    height: 50px;
    width: 200px;
    line-height: 50px;
    margin-top: 0px;
    background-image: linear-gradient(to left top, #808080, #707277, #5b666d, #445a60, #2f4f4f);
}


th {
    font-size: 20px;
    text-align: center;
    color: lawngreen;
    background-color: dimgrey;
    height: 30px;
    width: 100px;
    letter-spacing: 1px;

}

td {
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
}

table {
    -webkit-border-vertical-spacing: 10px;
}

#see_more {
    margin-left: 60px;
    background-color: lightgray;
    border: 0;
    color: gray;
    cursor: pointer;
    font: italic 19px Serif;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

#list {
    list-style-type: none;
    background: linear-gradient(to right, slategray, lightgray);
    color: white;
    text-align: left;
    font-size: 22px;
    margin: 4px 2px;
    padding: 10px 10px;
    width: 75%;
}


#list:hover {
    color: yellowgreen;
    background: slategray;
}


.button {
    background-color: gray;
    border: 1px solid #2f4f4f;
    font-weight: bold;
    color: lightgray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 3px 0px #2f4f4f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 3px 0px #2f4f4f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 3px 0px #2f4f4f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

}

.button:hover{
    background-color: lightgray;
    border: none;
    color: gray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

.button2 {
    background-color: gray;
    border: 1px solid #2f4f4f;
    font-weight: bold;
    color: lightgray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 3px 0px #2f4f4f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 3px 0px #2f4f4f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 3px 0px #2f4f4f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

}

#titles {
    font-size: 22px;
    vertical-align: top;
}

textarea {
    width: 300px;
    height: 150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.text {
    height: 25px;
    width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

#question_block {
    position: relative;
    left: 15%;
    width: 60%;
    display: block;
    background-color: #e6e6e6;
    border: 3px darkgray solid;
}

#answer_block {
    position: relative;
    left: 0;
    width: 60%;
    display: block;
    background-color: #e6e6e6;
    border: 3px darkgray solid;
}

#submission_time, #vote_number, .vote_number_button {display: inline-block}
#image, #view_number_button #view_number {display: inline-block}

#answer_message, #answer_id {display: inline-block}
#answer_submission_time, #answer_vote_number, #answer_button {display: inline-block}

#submission_time, #answer_submission_time {
    color: darkgray;
    text-align: left;
    letter-spacing: 0;
    font: normal 100 13px/2 Serif;
    position: relative;
    top: 0;
    left: 15px;
}

#view_number, #view_number_button {
    float: right;
}
#view_number {
    margin: 15px 15px 15px 5px;
}
#view_number_button {
    margin: 0 0 0 0;
}

.vote_number_button, .answer_button {
    float: right;
    margin: 15px 5px;
}

#vote_number {
    float: right;
    margin: 15px 15px 15px 0;
}

#answer_vote_number {
    float: right;
    margin: 15px 5px;
}

#id {
    position: relative;
    top: 0;
    left: 0;
    font: normal bold 22px/10 Serif;
}

#title {
    margin-left: 15%;
    position: relative;
    top: 0;
    left: 0px;
    font: normal bold 22px/1 Serif;
}

#expression {
    font: normal normal 16px Serif;
    margin: 15px;
}

#image {
    margin: 15px;
}

#image-tag {
    max-width: 100%;
}

.right-aligned-td {
    text-align: right;
}

#answer_id {
    margin: 15px 0 0 15px;
}

#answer_image {
    margin: 15px;
}