<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask your question</title>
</head>
<body>
    <h1>Ask your question!</h1>
    <form action="" method="POST">
        <p>
            <label for="title">Title of question:</label>
            <input type="text" name="title" required value="{{ question_details["title"] }}">
        </p>
        <p>
            <label for="message">Expressed question:</label>
            <textarea name="message" required>{{ question_details["message"] }}</textarea>
        </p>
        <p>
            <label for="image">Image:</label>
            <input type="text" name="image" value="{{ question_details["image"] }}">
        </p>
        <p>
            <button type="submit">Ask</button>
        </p>
    </form>
</body>
</html>