<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask your question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% if mode == "add" %}
        <a href="/list"><img src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/72/back-icon.png" alt="Back to the question list"></a>
    {% elif mode == "edit" %}
        <a href="/question/{{ question_details['id'] }}"><img src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/72/back-icon.png" alt="Back to the question list"></a>
    {% endif %}
    <h1>Ask your question!</h1>
    <form action="" method="POST">
        <p>
            <label id="titles" for="title">Title of question:</label>
            <input class="text" type="text" name="title" required value="{{ question_details["title"] }}">
        </p>
        <p>
            <label id="titles" for="message">Expressed question:</label>
            <textarea name="message" required>{{ question_details["message"] }}</textarea>
        </p>
        <p>
            <label id="titles" for="image">Image:</label>
            <input class="text" type="text" name="image" value="{{ question_details["image"] }}">
        </p>
        {% if mode == "add" %}
            <p>
                <button class="button" type="submit">Ask Question</button>
            </p>
        {% elif mode == "edit" %}
            <p>
                <button class="button" type="submit">Edit Question</button>
            </p>
        {% endif %}
    </form>
</body>
</html>