<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new answer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form action="" method="post">
        <p>
            <label for="message">New answer:</label>
            <textarea id="message" name="message" minlength="10"></textarea>
        </p>
        <p>
            <label for="image">Image:</label>
            <input type="text" name="image">
        </p>
        <p>
            <button class="button" type="submit">Post answer</button>
        </p>
    </form>


</body>
</html>