<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate v2.0</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="header-container">
    <div class="header-box-1"></div>
    <div class="header-box-2">
        {% if question %}
            <h1>{{ question.title }}</h1>
        {% elif mode == "add-question" %}
            <h1>Ask your question!</h1>
        {% elif mode == "edit-question" %}
            <h1>Edit your question!</h1>
        {% elif mode == "add-answer" %}
            <h1>Add your answer!</h1>
        {% elif mode == "edit-answer" %}
            <h1>Edit your answer!</h1>
        {% elif mode == "add-tag" %}
            <h1>Add your tag!</h1>
        {% elif result %}
            <h1>Search results</h1>
        {% elif login %}
            <h1>Log in</h1>
        {% elif registration %}
            <h1>Registration</h1>
        {% else %}
            <h1>Ask Mate v2.0</h1>
        {% endif %}
    </div>
    <div class="header-box-3">
        {% if session %}
            <a href="/logout">Logout</a><br>
            <a href="/users">My activities</a>
        {% else %}
            <a id="login-box" href="/login">Login</a><br>
            <a id="login-box" href="/registration">Registration</a>
        {% endif %}
    </div>
</div>
{% block content %} {% endblock %}

</body>
</html>