{% extends 'layout.html' %}
{% block content %}
    <div class="buttons-container">
        <div class="box-1">
            <a href="/add_question">
                <button class="button">Ask question</button>
            </a>
        </div>
        <div class="box-2">
            <form action="" , method="POST">
                <select class="button2" name="attribute">
                    <option value="id">Date</option>
                    <option value="title">Title</option>
                    <option value="view_number">View Number</option>
                    <option value="vote_number">Vote Number</option>
                </select>
                <select class="button2" name="order_direction">
                    <option value="asc">ASC</option>
                    <option value="desc">DESC</option>
                </select>
                <a href="/list?order_by={{ attribute }}&order_direction={{ reverse }}">
                    <button class="small-button" type="submit">List</button>
                </a>
            </form>
        </div>
        <div class="box-3">
            <form action="/search" method="GET">
                <input type="text" name="q" class="text" placeholder="Search">
                <button class="small-button" type="submit">Search</button>
            </form>
        </div>
    </div>


    {% for dict in questions %}
        <a id="link" href="/question/{{ dict['id'] }}">
            <div id="list">
                {{ dict['title'] }}
            </div>
        </a>
    {% endfor %}
    <div>
        <p>
            <a href={{ "/list" if method=="last" else "/" }}>
                <button id="see_more">{{ "See more" if method == "last" else "Hide" }}</button>
            </a>
        </p>
    </div>

{% endblock %}