<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate Python</title>
</head>
<body>
    <h1>Ask Mate Python</h1>
    <p><a href="/add_question"><button>Ask question</button></a></p>
    <form action="", method="POST">
        <p>
            <select name="attribute">
                <option value="id">Date</option>
                <option value="title">Title</option>
                <option value="view_number">View Number</option>
                <option value="vote_number">Vote Number</option>
            </select>
            <select name="order_direction">
                <option value="asc">ASC</option>
                <option value="desc">DESC</option>
            </select>
            <a href="/list?order_by={{ attribute }}&order_direction={{ reverse }}"><button type="submit">List</button></a>
        </p>
    </form>
    <table>
        <ul>
            {% for dict in questions %}
                <p><li><a href="/question/{{ dict['id'] }}" >{{ dict['title'] }}</a></li></p>
            {% endfor %}
        </ul>
    </table>

</body>
</html>