<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate v1.0</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Ask Mate v1.0</h1>
    <div id="button">
    <p><a href="/add_question"><button class="button">Ask question</button></a></p>
    </div>
    <table>
        <h2>Questions</h2>
    <ul>
        {% for dict in questions %}
            <div id="list">
                <p><li><a id="link" href="/question/{{ dict['id'] }}" >{{ dict['title'] }}</a></li></p>
            </div>
        {% endfor %}
    </ul>
    </table>

</body>
</html>