<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="/question/{{ question_id }}"><img src="{{ url_for('static', filename='icons/Actions-arrow-left-icon.png') }}" alt="Back to the question"></a>
    <form action="" method="POST">
        <table>
            <tr>
                <td class="right-aligned-td"><label for="q_tag">Add new tag:</label></td>
                <td>
                    <input type="text" id="q_tag" name="create_tag">
                    <button type="submit" class="button">Create</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="right-aligned-td">
                    <label for="tag_list"></label>
                    <select id="tag_list" name="selected_tag">
                        <option></option>
                        {% for tag in tags %}
                            <option>{{ tag['name'] }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" id="add_tag" class="button">Add tag</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>