{% extends 'layout.html' %}
{% block content %}
    <div class="buttons-container">
        <div class="box-1">
            <a href="/"><img src="{{ url_for('static', filename='icons/Actions-arrow-left-icon.png') }}"
                                 alt="Back to the question list"></a>
        </div>
        {% if session %}
            <div class="box-2">
                <a href="/question/{{ question['id'] }}/new_answer">
                    <button class="button">Answer</button>
                </a>
            </div>
        {% endif %}
        {% if session == question['username'] %}
            <div class="box-3">
                <a href="/question/{{ question['id'] }}/edit">
                    <button class="button">Edit</button>
                </a>
            </div>
            <div class="box-4">
                <a href="/question/{{ question['id'] }}/delete">
                    <button class="button">Delete question</button>
                </a>
            </div>
            <div class="box-4">
                <a href="/question/{{ question['id'] }}/new-tag">
                    <button class="button" id="tag_btn" name="tag_btn">Add Tag</button>
                </a>
            </div>
        {% endif %}
    </div>


    <table>
        <tr>
            {% for dict in tags %}

                <td>{{ dict['name'] }}</td>
                <td><a href="/question/{{ question['id'] }}/tag/{{ dict['id'] }}"><img
                        src="{{ url_for('static', filename='icons/x-mark.png') }}" alt="eye" width="20" height="20"></a>
                </td>

            {% endfor %}
        <tr/>
    </table>


    <div id="question_block">
        <p id="submission_time">{{ question['submission_time'] }}</p>
        <p id="vote_number">{{ question['vote_number'] }}</p>
        {% if session %}
            <a class="vote_number_button" href="/question/{{ question['id'] }}/vote-up"><img
                    src="{{ url_for('static', filename='icons/like-icon.png') }}" alt="like"></a>
            <a class="vote_number_button" href="/question/{{ question['id'] }}/vote-down"><img
                    src="{{ url_for('static', filename='icons/dislike-icon.png') }}" alt="dislike"></a>
        {% endif %}
        <p id="expression">{{ question['message'] }}</p>
        <p id="image">
            {% if question['image'] != None %}
                <img src="{{ question['image'] }}" alter="image" id="image-tag">
            {% endif %}
        </p>
        <p id="view_number">{{ question['view_number'] }}</p>
        <p id="view_number_button"><img src="{{ url_for('static', filename='icons/eye-icon.png') }}" alt="eye"
                                        width="20" height="30"></p>
    </div>

    {% if answers|length > 0 %}
        {% for answer in answers %}
            <div id="answer_block">
                <div id="answer_id">{{ answer['id'] }}.</div>
                <br>
                <div id="answer_message">{{ answer['message'] }}</div>
                <div id="answer_image"><img src="{{ answer['image'] if answer['image'] != None else '' }}" alter="image"
                                            height="100"></div>
                <div id="answer_submission_time">{{ answer['submission_time'] }}</div>
                {% if session %}
                    <div id="answer_vote_number">{{ answer['vote_number'] }}</div>
                    <a class="answer_button" href="/answer/{{ answer['id'] }}/vote-up"><img
                            src="{{ url_for('static', filename='icons/like-icon.png') }}" alt="like"></a>
                    <a class="answer_button" href="/answer/{{ answer['id'] }}/vote-down"><img
                            src="{{ url_for('static', filename='icons/dislike-icon.png') }}" alt="dislike"></a>
                {% endif %}
                {% if session == answer['username'] %}
                <div>
                    <a href="/answer/{{ answer.id }}/delete">
                        <button class="button">Delete answer</button>
                    </a>
                    <a href="/answer/{{ answer.id }}/edit">
                        <button class="button">Edit answer</button>
                    </a>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
