{% extends "layout.html" %}
{% block content %}
    <div class="box-1">
            <a href="/"><img src="{{ url_for('static', filename='icons/Actions-arrow-left-icon.png') }}"
                                 alt="Back to the question list"></a>
    </div>
    <form class="log/reg_table" action="/registration" method="post">
        <div id="reg">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password" class="password">
            <input type="password" name="check" placeholder="Password" class="password">
            <input type="email" name="email" placeholder="Email" class="email">
            <input type="submit" placeholder="Registration">
            {% if errorcode == "Password doesn't match" %}
                <p><strong>Passwords doesn't match</strong></p>
            {% endif %}
            {% if errorcode == 'failed_password' %}
                <ul><strong>Password must contain:</strong>
                    <italic>
                        <li>a number</li>
                        <li>uppercase letters</li>
                        <li>lowercase letters</li>
                        <li>at least 6 char long</li>
                    </italic>
                </ul>
            {% endif %}
            {% if errorcode == "invalid" %}
                <p><strong>Username is already in use</strong></p>
            {% endif %}
        </div>
    </form>

{% endblock %}