{% extends "layout.html" %}
{% block content %}
    <div class="buttons-container">
        <div class="box-1">
            <a href="/list"><img src="{{ url_for('static', filename='icons/Actions-arrow-left-icon.png') }}"
                                 alt="Back to the question list"></a>
        </div>
    </div>
    <div id="questions_of_user">
        <h2>Questions I have asked</h2>
        {% if is_there_questions_of_mine %}
            {% for question in my_questions %}
                <a href="/question/{{ question['id'] }}">
                    <div class="list">
                        {{ question.title }}
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div>There are no questions I have asked yet.</div>
        {% endif %}
    </div><br>
    <div id="answered_questions_by_user">
        <h2>Questions I have answered</h2>
        {% if is_there_questions_answered_of_me %}
            {% for question in questions_i_have_answered %}
                <a href="/question/{{ question['id'] }}">
                    <div class="list">
                        {{ question.title }}
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div>There are no questions I have answered yet.</div>
        {% endif %}
    </div>
{% endblock %}